body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
}

.about-section {
    display: flex;
    align-items: center;
}

.about-section img {
    width: 200px;
    border-radius: 50%;
    margin-right: 30px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-section img {
    width: 200px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}